/* styles for tiles view only */
$light-grey-background: #F3F3F3;

:host {
    display: block;
    padding: 48px 0;
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .tile {
        margin: 1rem;
    }
}
