/* styles for testimonials view only */
$light-grey-background: #F3F3F3;
$dark-grey-background: #B0B0B0;

:host {
    display: block;
    padding: 48px 0;
}

.testimonials {
    max-width: 27rem;
    // margin: 0 auto;

    .testimonial {
        width: 18rem;
        margin-bottom: 2rem;

        .author {
            font-size: 1.15rem;
        }

        &:nth-child(even) {
            margin-left: auto;

            .author {
                text-align: right;
                margin-top: 1rem;
                margin-right: .5rem;
            }
        }

        &:nth-child(odd) {
            .author {
                margin-top: 1rem;
                margin-left: .5rem;
            }
        }
    }
}
