<h2>{{data.title}}</h2>

<table class="a-table a-table--primary a-table--striped">
    <thead>
        <tr>
            <th translate>Challenge</th>
            <th translate>Deadline</th>
            <th translate>Reference</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let challenge of data.data">
            <td>
                <h5>{{challenge.fields.title}}</h5>
                <p>{{challenge.fields.description}}</p>
            </td>
            <td>
                {{challenge.fields.deadline}}
            </td>
            <td>
                <a href="{{challenge.fields.formReference}}" rel="external" target="_blank" translate>learn more</a>
            </td>
        </tr>
    </tbody>
</table>
