<h2>{{data.title}}</h2>

<div class="posts">
    <div class="post" *ngFor="let post of data.data">
        <div class="post-banner">
            <img src="{{post.fields.banner.cropped.asset.url}}" class="post-banner-img" alt="post.fields.banner.original.name">
        </div>
        <div class="post-content">
            <h3>{{post.fields.title}}</h3>
            <p>{{post.fields.summary}}</p>
            <a routerLink="/en/{{post.meta.slug}}" class="extra-content-link" translate>
                Read the full post<span class="fa fa-arrow-right"></span>
            </a>
        </div>
    </div>
</div>
