<aui-footer>
    <aui-footer-content>
        <div class="footer-columns">
            <div class="footer-column">
                <h5 class="footer-title">Title</h5>
            </div>

            <div class="footer-column">
                <h5 class="footer-title" translate>Social Media</h5>
                <ul class="m-icon-list m-icon-list--negative">
                    <li>
                        <a href="{{data.fields.social.fields.facebook.url}}">
                            <span class="fa fa-facebook"></span>
                            {{data.fields.social.fields.facebook.description}}
                        </a>
                    </li>
                    <li>
                        <a href="{{data.fields.social.fields.twitter.url}}">
                            <span class="fa fa-twitter"></span>
                            {{data.fields.social.fields.twitter.description}}
                        </a>
                    </li>
                    <li>
                        <a href="{{data.fields.social.fields.instagram.url}}">
                            <span class="fa fa-instagram"></span>
                            {{data.fields.social.fields.instagram.description}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-column">
                <h5 class="footer-title">{{data.fields.text.fields.text}}</h5>
            </div>
        </div>
    </aui-footer-content>

    <aui-footer-bottom>
        <!-- Use subfooter -->
        <aui-subfooter>
            <!-- Use copyright -->
            <aui-copyright domain="district01.be"></aui-copyright>
        </aui-subfooter>
    </aui-footer-bottom>
</aui-footer>
