/* styles for footer partial only */

:host {
    display: block;
}

.footer-columns {
    .footer-column {
        padding: 1rem;
        text-align: center;
    }

    @media screen and (min-width: 600px) {
        .footer-column {
            float: left;
            width: 32%;
            text-align: center;

            .footer-title {
                margin-bottom: 1rem;
            }

            &:nth-child(2) {
                margin: 0 1%;
                // text-align: center;
            }
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}
